@model PrivacyViewModel

@{
    ViewData["Title"] = "Gizlilik Sözleşmesi";
    Layout = "~/Views/Shared/_LayoutHotel.cshtml";
}

<div class="container mt-5">
    <h2>Gizlilik Sözleşmesi</h2>
    <p>Buraya gizlilik sözleşmesi metnini ekleyebilirsiniz.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel turpis eu urna egestas consequat.</p>
    <p>...</p> <!-- Uzun metinler eklenebilir -->
</div>
